<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <mat-toolbar color="primary">
      <span>NESLI</span>
      <span class="example-spacer"></span>
      <button style="margin: auto 50px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" *ngIf="approved == false">
        <a (click)="login()">Log in</a> <mat-icon>login</mat-icon>
      </button>
      <div *ngIf="approved == true" style="display: flex; margin-right: 50px;">
        <div style="display: flex;">
          <p>
            {{userSessionLogin.username}}
          </p>
          <img [src]="'https://www.themoviedb.org/t/p/w150_and_h150_face'+userSessionLogin.avatar.tmdb.avatar_path" style="width: 35px; height: 35px; border-radius: 50%; margin-left: 20px; margin-top: 16px;" alt="">
        </div>
        <button style="margin: auto 50px; margin-top: 16px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <a (click)="logoutAlert()" style="text-decoration: none; color: white;">Cerrar sesión</a><mat-icon>logout</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  
    <div class="container">
      <h1>Películar populares</h1>
      <br>
      <div class="scrollH">
        <div class="card" *ngFor="let pelicula of listadoFilms">
          <button (click)="filmDialog(pelicula)">
            <img [src]="getFilmImg(pelicula)" alt="" />
          </button>
        </div>
      </div>
      <div style="margin: 200px 0"></div>
      <h1>Actores populares</h1>
      <br>
        <app-people-list></app-people-list>
    </div>
  </body>
</html>
