h4{
    width: 100%;
    text-align: center;
}

.filtersContainer{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 35px;
    box-sizing: border-box;
}

.filtroPrecio{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.divmatformfield{
    width: 30%;
    margin: auto;
    display: block;
}

mat-form-field, form, mat-slider{
    width: 100%;
}

.card{
    width: 300px;
    margin: 35px;
    min-height: 260px;
    height: max-content;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.card h2{
    margin: 10px 0 20px 0;
}

.card img{
    position: relative;
    top: 12px;
    float: right;
    width: 45px;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

mat-slider{
    width: 20%;
}

.spinner{
    position: fixed; top: 50%;
}

.goToTop{
    position: fixed;
    left: 92%;
    top: 90%;
    z-index: 100;
}

@media screen and (max-width : 600px) {
    .divmatformfield{
        width: 80%;
    }

    .container{
        margin-top: 230px;
    }

    .spinner{
        top: 70%;
    }

    .goToTop{
        left: 77%;
    }
}