<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <button (click)="backToTop()" class="goToTop" mat-raised-button color="primary">
    <mat-icon>arrow_upward</mat-icon>
  </button>
  <div class="filtersContainer" name="inicio">
    <div class="divmatformfield">
      <mat-form-field appearance="fill">
        <mat-label>{{fuelTypeValue}}</mat-label>
        <mat-select [(ngModel)]="fuelTypeValue" (selectionChange)="selectTypeOfFuel(fuelTypeValue)">
          <mat-option *ngFor="let fuel of fuelName" [value]="fuel">
            {{ fuel }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="divmatformfield">
      <mat-form-field appearance="fill">
        <mat-label>Gasolinera</mat-label>
        <mat-select [(ngModel)]="rotuloSelected" multiple (selectionChange)="changeFuelType()">
          <input type="search" placeholder="Ej: Repsol" aria-label="Number" matInput [(ngModel)]="searchFuelStation"
            style="height: 50px; padding-left: 15px; border-bottom: 3px solid rgb(61, 61, 195);">
          <span *ngFor="let rotulo of rotuloList">
            <mat-option *ngIf="rotulo.toLowerCase().includes(searchFuelStation.toLowerCase())" [value]="rotulo">
              {{rotulo}}
            </mat-option>
          </span>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="divmatformfield">
      <mat-form-field appearance="fill">
        <mat-label>Provincia</mat-label>
        <mat-select [(ngModel)]="provincesSelected" multiple (selectionChange)="changeFuelType()">
          <mat-option *ngFor="let province of provincesList" [value]="province.Provincia">{{province.Provincia}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="divmatformfield">
      <mat-form-field appearance="fill">
        <mat-label>Ordenar</mat-label>
        <mat-select [(ngModel)]="typeOfSort" (selectionChange)="sortBy(fuelTypeValue, fuelStationList)">
          <mat-option [value]="0">Por defecto</mat-option>
          <mat-option [value]="1">Menor a mayor precio</mat-option>
          <mat-option [value]="2">Cercanía</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="divmatformfield">
      <div class="filtroPrecio">
        <span>{{ minPrice }}€/L</span>
        <mat-slider thumbLabel [(ngModel)]="priceSelect" color="primary" step="0.01" [min]="minPrice" [max]="maxPrice"
          aria-label="units" style="width: 50%;">
        </mat-slider>
        <span>{{ maxPrice }}€/L</span>
      </div>
    </div>

    <div class="divmatformfield">
      <mat-form-field appearance="fill">
        <mat-label>Provincia</mat-label>
        <mat-select (selectionChange)="changeFuelType()" [(ngModel)]="municipioSelected">
          <input type="search" placeholder="Ej. Dos Hermanas" [(ngModel)]="filterMunicipes" matInput style="height: 50px; padding-left: 15px; border-bottom: 3px solid rgb(61, 61, 195);">
          <mat-option [value]="''">Todos los municipios</mat-option>
          <span *ngFor="let option of options">
            <mat-option *ngIf="option.toLowerCase().includes(filterMunicipes.toLowerCase())" [value]="option">{{option}}
            </mat-option>
          </span>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="map">
    <google-map height="400px" width="100%" style="margin: 0 auto; display: block;" [center]="center" [zoom]="zoom">
      <map-marker #marker="mapMarker" *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
        [options]="markerOptions" (mapClick)="openInfoWindow(markerPosition.lat, markerPosition.lng)">
      </map-marker>
      <map-info-window>Info Window content</map-info-window>
    </google-map>
  </div>

  <div class="container">
    <mat-spinner class="spinner" *ngIf="fuelStationList.length === 0 && provincesSelected.length > 0">
    </mat-spinner>
    <div *ngFor="let item of fuelStationList">
      <div class="card" id="stationCard"
        *ngIf="changePriceToNumber(item[fuelTypeValue]) <= priceSelect && item[fuelTypeValue] != '' && provincesSelected.includes(item['Provincia']) && item['Municipio'].toLowerCase().includes(municipioSelected.toLowerCase())">
        <img [src]="getBackImg(item['Rótulo'])" alt="">
        <h2>{{ item["Rótulo"] }}</h2>
        <small>{{ item["Localidad"] }}, {{item['Dirección']}}</small>
        <p>{{ item[fuelTypeValue] }}€/L</p>
        <div style="width: 100%; display: flex; justify-content: space-between; margin-top: 40px;">
          <button style="width: 45%;" (click)="findFuelStation(item['Latitud'], item['Longitud (WGS84)'])"
            mat-raised-button>
            <mat-icon> directions</mat-icon> Ruta
          </button>
          <button style="width: 45%;"
            (click)="showMoreFuels(item['Precio Gasolina 95 E5'], item['Precio Gasolina 98 E5'], item['Tipo Venta'], item['Horario'], item['Precio Gasoleo A'], item['Precio Gasoleo B'])"
            mat-raised-button>
            <mat-icon> info</mat-icon> +Info
          </button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>