<span>{{minPrice}}€/L</span><input type="range" name="" id="" step="0.01" [min]="minPrice" [max]="maxPrice" [(ngModel)]="priceSelect"><span>{{priceSelect}}€/L</span>

<p *ngFor="let item of fuelStationList">
    <span *ngIf="changePriceToNumber(item[fuelTypeValue]) <= priceSelect">{{item[fuelTypeValue]}}€/L</span>
</p>

--------------------------------------------------------------------------- <br>

<select name="" id="" [(ngModel)]="fuelTypeValue">
    <option [value]="fuel" *ngFor="let fuel of fuelName">{{fuel}}</option>
</select>

<p>{{selectTypeOfFuel(fuelTypeValue)}}</p>

<p>{{fuelTypeValue}}</p>