<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="containerLogo" *ngIf="hora < 4">
        <div class="logo">
            <div class="netflix">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h3>Angular</h3>
        </div>
    </div>
    <div class="container" fxLayout="row" fxLayoutAlign="space-around center" *ngIf="hora >= 4">
        <div class="usuarios" fxLayout="column" fxLayoutAlign="center center" >
            <a routerLink="/films" (click)="reproducir()"><img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Netflix-avatar.png" alt=""></a>
            <p>Miguelito chulito</p>
        </div>
    </div>
</body>
</html>