<div class="grid-individual-card card-background-yellow vanillaTilt"  data-tilt>
    <!-- BEGIN PIKACHU -->
    <div class="header-basic-pokemon">Basic Pokémon</div>
    <div class="header-pokemon-name">{{data.pokemonInfo.name}}</div>
    <div class="header-hp">{{data.pokemonInfo.base_experience}}</div>
    <div class="header-type-icon">☻</div>
    <div class="image-holder"><img src = "https://heatherketten.files.wordpress.com/2018/03/my_pikachu.gif" alt = "Pikachu"></div>
    <div class="description-below-image-empty"><!-- empty cell to position description correctly --></div>
    <div class="description-below-image"><span class="description-below-image-background">Mouse Pokémon. Length: {{data.pokemonInfo.height}}", Weight: {{data.pokemonInfo.weight}} lbs.</span></div>
    <div class="description-below-image-empty"><!-- empty cell to position description correctly --></div>
    <div *ngFor="let item of ">
        <div class="attack-cost">☻</div>
        <div class="attack-description attack-center"><span class="attack-name">{{getAbilities(data.pokemonInfo.abilities)}}</span></div>
        <div class="attack-damage">10</div>
    </div>
    <div class="attack-cost">☻ ☻</div>
    <div class="attack-description"><span class="attack-name">Thundershock</span> Flip a coin. If tails, Pikachu does 10 damage to itself.</div>
    <div class="attack-damage">10</div>
    <div class="weakness wrr-header">weakness</div>
    <div class="resistance wrr-header">resistance</div>
    <div class="retreat wrr-header">retreat cost</div>
    <div class="weakness wrr-cost">☻</div>
    <div class="resistance wrr-cost"></div>
    <div class="retreat wrr-cost">☻</div>
    <div class="description-above-copyright">
      <ul>
        <li class="description-above-copyright-border">When several of these Pokémon gather, their electricity could build and cause lightning storms. &nbsp; LV. 12 &nbsp; #25</li>
      </ul>
    </div>
    <div class="copyright"><strong>Illus. Mitsuhiro Arita</strong> ©1995, 96, 98 Nintendo Creatures, GAMEFREAK ©1999 Wizards. <strong>58/102 ●</strong></div>
    <!-- END PIKACHU -->
</div>