<div class="display-cards">
  <div *ngFor="let people of peopleListado" class="example-5 alternate-card">
    <div class="wrapper">
      <img [src]="url + [peopleListado.indexOf(people)+1] + '.jpg'" alt="" style="width: 100%;">
      <div class="data">
        <div class="content">
          <h1 class="title"><a href="#">{{people.name}}</a></h1>
          <h3><u>Películas</u></h3>
            <p *ngFor="let film of filmsListado">
              <span *ngIf="film.characters.includes(people.url)">{{film.title}}</span>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>