<div>
  <button (click)="restar()">pagina anterior</button>
  <input type="number" id="pagina" [value]="numero" [(ngModel)]="page" name="" id="">
  <button (click)="sumar()">pagina siguiente</button>
</div>
<div class="display-cards">
  <div *ngFor="let people of peopleListado" class="example-5 alternate-card">
    <div class="wrapper">
      <img [src]="getObjetoUrl(people)" alt="" style="width: 100%;">
      <div class="data">
        <div class="content">
          <h1 class="title"><a href="#">{{people.name}}</a></h1>
          <h3><u>Películas</u></h3>
            <p *ngFor="let film of filmsListado">
              <span *ngIf="film.characters.includes(people.url)">{{film.title}}</span>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>