<div class="form__group field">
  <input
    type="search"
    class="form__field"
    placeholder="Name"
    name="name"
    id="name"
    required
    [(ngModel)]="nombreBuscador"
  />
  <label for="name" class="form__label">Nombre del pokemon</label>
</div>

<div class="card-container">
  <div *ngFor="let item of listadoPokemon" (click)="getPokemonInfo(item)">
    <div class="card" *ngIf="item.name.toLowerCase().startsWith(nombreBuscador)">
      <img [src]="img + [listadoPokemon.indexOf(item) + 1] + '.png'" alt="" style="width: 75%; display:block; margin:auto;"/>
      <h3 style="width: 100%; text-align:center;">{{item.name}}</h3>
    </div>
  </div>
</div>