<div style="width: min-content; margin:auto;">
    <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="nombre">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput [(ngModel)]="apellidos">
    </mat-form-field>
    <br>
    <mat-form-field hintLabel="8 números y la letra" appearance="fill">
        <mat-label>DNI</mat-label>
        <input matInput #input maxlength="9" [(ngModel)]="dni">
        <mat-hint align="end">{{input.value.length || 0}}/9</mat-hint>
    </mat-form-field>
    <br>
    <br>
    <div>
        <label>Sexo: </label>
        <br>
        <br>
        <mat-radio-group [formControl]="floatLabelControl" [(ngModel)]="sexo">
            <mat-radio-button value="Hombre">Hombre</mat-radio-button>
            <br>
            <br>
            <mat-radio-button value="Mujer">Mujer</mat-radio-button>
        </mat-radio-group>
    </div>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Introduce tu email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" [(ngModel)]="gmail" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input type="number" matInput [(ngModel)]="telefono">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>¿Cómo nos has conocido?</mat-label>
        <mat-select [(ngModel)]="conocer">
            <mat-option value="Buscando en Google">Buscando en Google</mat-option>
            <mat-option value="A través de un amigo">A través de un amigo</mat-option>
            <mat-option value="Por mi profesor">Por mi profesor</mat-option>
            <mat-option value="Otro...">Otro...</mat-option>
        </mat-select>
        <mat-hint align="end">Elija una opción</mat-hint>
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button color="primary" style="width: 100%;" type="submit" (click)="enviarDatos()">Enviar</button>
</div>