<!--<div class="caja" style="display: flex; justify-content:flex-end; padding: 10px; box-sizing: border-box;">
  <p *ngIf="!desplegar" >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ex sed
    obcaecati error voluptatem iure iusto asperiores fugiat rerum nobis velit
    impedit itaque delectus corporis, nam, adipisci voluptate atque? Molestiae!
  </p>
  <button id="boton" (click)="cambiar()" style="height: min-content;"><span *ngIf="desplegar">Desplegar</span><span *ngIf="!desplegar">Contraer</span></button>
</div>-->

<div class="caja">
  <header>
    <h1 style="text-align: center;">
      Viruela del mono <button id="boton" (click)="cambiar()" style="height: min-content; background-color: white; border: 0;"><mat-icon>{{flecha}}</mat-icon></button>
    </h1>
  </header>

  <main *ngIf="desplegar">
    <p style="text-align: justify;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et modi expedita
      ea eum alias. Esse tempore qui ipsa tenetur? Dicta eum deleniti, nobis
      blanditiis hic ullam impedit est modi velit!
    </p>
  </main>
</div>
